
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Köken Kum | Ahmet Köken</title>
    <link rel="stylesheet" href="~/starter/assets/css/style-starter.css">
</head>
<body>
    <!-- Topmenu-4 block -->
    <section class="w3l-top-menu-4">
        <header class="top-menu4">
            <div class="wrapper">
                <div class="d-grid align-topmenu4">
                    <div class="top-menu4-left d-grid align-items-menu4">
                        <ul class="social-icons">
                            <li class="facebook"><a href="https://m.facebook.com/mustafa.koken.110?eav=AfaQYlxRbWXtpHp-iJ-5YpYVHqSoigYD41AeNOHxUSdnFL6ZUCjIzsZ1jLwnArIyl9s&paipv=0"><span class="fa fa-facebook"></span></a></li>
                            <li class="twitter"><a href="https://twitter.com/sadecebegat?t=2els0XKRaTnHZwGB_OVNlQ&s=09"><span class="fa fa-twitter"></span></a></li>
                            <li class="instagram"><a href="https://instagram.com/mstf_kn?igshid=YmMyMTA2M2Y="><span class="fa fa-instagram"></span></a></li>

                        </ul>
                    </div>
                    <div class="top-menu4-right">
                        <ul class="top-menu-right">
                            <li><a href="tel:+(90) 537 278 3150"> <span class="fa fa-phone"> </span>+(90) 537 278 3150</a> <span>Telefon:</span> </li>
                            <li><a href="mailto:ahmet.koken45@gmail.com"> <span class="fa fa-envelope-open-o"> </span>ahmet.koken45@gmail.com</a> <span>E-Posta</span> </li>
                            <li><p> <span class="fa fa-clock-o"> </span>07.00-19.00</p> <span>Çalışma Saatleri</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </section>
    <!-- /Topmenu-4 block -->
    <!-- Headers-4 block -->
    <section class="w3l-header-4">
        <header id="headers4-block">
            <div class="wrapper">
                <div class="d-grid nav-mobile-block header-align">
                    <div class="logo">
                        <a class="brand-logo" href="/Default/Index/">
                            <img src="~/starter/assets/images/Ekran-Alıntısı.jpg" alt="Your logo" title="" style="height:160px;" />

                        </a>
                    </div>
                    <input type="checkbox" id="nav" />
                    <label class="nav" for="nav"></label>
                    <nav>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop">
                        <ul class="menu">
                            <li><a href="/Default/Index/">Anasayfa</a></li>
                            <li><a href="/Default/Hakkımızda">Hakkımızda</a></li>
                            <li><a href="/Default/Fotograflar/">Fotoğraflar</a></li>
                            <li><a href="/Default/Iletisim/">İletişim</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </header>
    </section>
    <!-- Headers-4 block -->
    <section class="w3l-breadcrumns">
        <div class="wrapper">
            <ul>
                <li><a href="/Default/Index/">Anasayfa</a> <span class="fa fa-angle-double-right"></span></li>
                <li>İletişim Sayfası</li>
            </ul>
        </div>
    </section>
    <section class="w3l-contacts-2">
        <div class="wrapper ">
            <h3 class="heading-title">Bizimle İletişime Geçin</h3>
            <div class="contact-main">
                <div class="grid grid-column-2">
                    <div class="column">
                        <h3 class="header">Biz Senin İçin Burdayız</h3>
                        <p class="head-main">
                            KÖKEN KUM İLETİŞİM BİLGİLERİ
                        </p>
                    </div>
                    <div class="column2">
                        <p><span class="fa fa-envelope-open"> </span><a href="mailto:ahmet.koken45@gmail.com">ahmet.koken45@gmail.com</a></p>
                        <li><a href=" tel: +(90) 537 278 3150"> <span class="fa fa-phone"> </span>+(90) 537 278 3150</a>  <span></span></li>

                        <p class="contact-para"><span class="fa fa-map-marker"></span> KahramanKazan/Ankara</p>
                        <p> İmrendi Mahallesi Küme Evleri</p>
                    </div>
                    <div> &nbsp;</div>
                    <div> &nbsp;</div>
                    <section class="section" id="maps">
                        <div class="container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2474.050225398815!2d32.66630004563896!3d40.13527420898261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40827429d0e7ce4f%3A0x78e1e534fcca280c!2s%C4%B0mrendi%2C%2006980%20Kahramankazan%2FAnkara!5e0!3m2!1str!2str!4v1669765361521!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </section>


    <section class="w3l-contacts-12">
        <div class="wrapper">
            <div class="contacts12-main">
                <h3 class="contact-head">Bizimle İletişime Geçin</h3>
                <form action="/Default/Iletisim/" method="post">
                    <div class="main-input">
                        <input type="text" name="w3lName" placeholder="Adınız" class="contact-input" required />
                        <input type="email" name="w3lSender" placeholder="E-Posta " class="contact-input" required />
                        <input type="text" name="w3lSubject" placeholder="Konu" class="contact-input" required />
                    </div>
                    <textarea class="contact-textarea" name="w3lMessage" placeholder="Mesajınızı giriniz." required></textarea>
                    <button class="actionbg btn">Gönder</button>
                </form>
            </div>
        </div>
    </section>

    <!-- footer-29 block -->
    <section class="w3l-footer-29-main">
        <div class="footer-29">
            <div class="wrapper">
                <div class="d-grid grid-col-4 footer-top-29">
                    <div class="footer-list-29 footer-1">
                        <h6 class="footer-title-29">İletişim Bilgileri</h6>
                        <ul>
                            <li><p><span class="fa fa-map-marker"></span> İmrendi Mahallesi KahramanKazan/Ankara</p></li>
                            <li><a href="tel:+(90)537 278 31 50"><span class="fa fa-phone"></span> +(90)537 278 31 50</a></li>
                            <li><a href="mailto:ahmet.koken45@gmail.com"> <span class="fa fa-envelope-open-o"> </span>ahmet.koken45@gmail.com</a> <span>E-Posta</span> </li>
                        </ul>
                        <div class="main-social-footer-29">
                            <a href="https://m.facebook.com/mustafa.koken.110?eav=AfaQYlxRbWXtpHp-iJ-5YpYVHqSoigYD41AeNOHxUSdnFL6ZUCjIzsZ1jLwnArIyl9s&paipv=0" class="facebook"><span class="fa fa-facebook"></span></a>
                            <a href="https://twitter.com/sadecebegat?t=2els0XKRaTnHZwGB_OVNlQ&s=09" class="twitter"><span class="fa fa-twitter"></span></a>
                            <a href="https://instagram.com/mstf_kn?igshid=YmMyMTA2M2Y=" class="instagram"><span class="fa fa-instagram"></span></a>
                        </div>
                    </div>
                    <div class="footer-list-29 footer-2">
                        <ul>
                            
                        </ul>
                    </div>
                    <div class="footer-list-29 footer-3">
                        <div class="properties">
                            <h6 class="footer-title-29">Ürünlerimiz</h6>
                            <a href="/Default/Iletisim/"><img src="~/starter/assets/images/03 kum.jpg" class="img-responsive" alt="" /><p>Fiyat İçin İletişime Geçiniz<span>0X3 KUM</span></p></a>
                            <a href="/Default/Iletisim/"><img src="~/starter/assets/images/ss.jpg" class="img-responsive" alt="" /><p>Fiyat İçin İletişime Geçiniz<span>MİL KUM</span></p></a>
                            <a href="/Default/Iletisim/"><img src="~/starter/assets/images/2121.jpg" class="img-responsive" alt="" /><p>Fiyat İçin İletişime Geçiniz<span>BYPASS</span></p></a>
                        </div>
                    </div>
                    <div class="footer-list-29 footer-4">
                        <ul>
                            <h6 class="footer-title-29">Hızlı Linkler</h6>
                            <li><a href="/Default/Hakkımızda/">Şirket Hakkında</a></li>
                            <li><a href="/Default/Hakkımızda/">Öne Çıkan Özellikleri</a></li>
                            <li><a href="/Default/Hakkımızda/"> Çalışanlar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-grid grid-col-2 bottom-copies">
                    <p class="copy-footer-29">© 2022 KÖKEN KUM. Bütün Haklarınız Saklıdır. </p>
                    <ul class="list-btm-29">
                        @*<li><a href="#link">Gizlilik Politikası</li>
                        <li><a href="#link">Kullanım Şartları</a></li>*@
                       
                       
  

</ul>
                </div>
            </div>
        </div>
    </section>
    <!-- //footer-29 block -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
</body>
</html>
