@using kokenkumweb.Models.Entity
@model List<TBLKUM2>
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Köken Kum | Ahmet Köken</title>
    <link rel="stylesheet" href="~/starter/assets/css/style-starter.css">
</head>
<body>
    <!-- Topmenu-4 block -->
    <section class="w3l-top-menu-4">
        <header class="top-menu4">
            <div class="wrapper">
                <div class="d-grid align-topmenu4">
                    <div class="top-menu4-left d-grid align-items-menu4">
                        <ul class="social-icons">
                            <li class="facebook"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                            <li class="twitter"><a href="https://twitter.com/sadecebegat?t=2els0XKRaTnHZwGB_OVNlQ&s=09"><span class="fa fa-twitter"></span></a></li>
                            <li class="instagram"><a href="https://instagram.com/mstf_kn?igshid=YmMyMTA2M2Y="><span class="fa fa-instagram"></span></a></li>

                        </ul>
                    </div>
                    <div class="top-menu4-right">
                        <ul class="top-menu-right">
                            <li><a href="tel:+(90) 537 278 3150"> <span class="fa fa-phone"> </span>+(90) 537 278 3150</a> <span>Telefon:</span> </li>
                            <li><a href="mailto:ahmet.koken45@gmail.com"> <span class="fa fa-envelope-open-o"> </span>ahmet.koken45@gmail.com</a> <span>E-Posta</span> </li>
                            <li><p> <span class="fa fa-clock-o"> </span>07.00-19.00</p> <span>Çalışma Saatleri</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </section>
    <!-- /Topmenu-4 block -->
    <!-- Headers-4 block -->
    <section class="w3l-header-4">
        <header id="headers4-block">
            <div class="wrapper">
                <div class="d-grid nav-mobile-block header-align">
                    <div class="logo">
                        @*<a class="brand-logo" href="/Default/Index/"><span>KÖKEN KUM (Ahmet Köken)</span></a>*@
                         
                        <a class="brand-logo" href="/Default/Index/">
                            <img src="~/starter/assets/images/Ekran-Alıntısı.jpg" alt="Your logo" title="" style="height:160px;" />
                            
                        </a> 
                    </div>
                    <input type="checkbox" id="nav" />
                    <label class="nav" for="nav"></label>
                    <nav>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop">
                        <ul class="menu">
                            <li><a href="/Default/Index/">Anasayfa</a></li>
                            <li><a href="/Default/Hakkımızda">Hakkımızda</a></li>
                            <li><a href="/Default/Fotograflar/">Fotoğraflar</a></li>
                            <li><a href="/Default/Iletisim/">İletişim</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </section>
    <!-- Headers-4 block -->
    <!-- covers4 block -->
    <section class="w3l-covers-4">
        <div id="covers4-block">
            <!-- main-slider -->
            <div class="main-slider">
                <div class="csslider infinity" id="slider1">
                    <input type="radio" name="slides" checked="checked" id="slides_1" />
                    <input type="radio" name="slides" id="slides_2" />
                    <input type="radio" name="slides" id="slides_3" />
                    <input type="radio" name="slides" id="slides_4" />
                    <ul>
                        <li class="slider-bg-1">
                            <div class="slider-info-wrapper">
                                <div class="slider-info">
                                    <div class="d-grid slide-two-col">
                                        <div class="slide-left-text">
                                            <h3>KÖKEN KUM  </h3>
                                            @*<h3><span>Temelden Gelen Güç</span></h3>*@
                                            <p>
                                                TEMELDEN GELEN GÜÇ SİNCE 1980
                                                
                                            </p>
                                            @*<a href="about.html" class="btn button-style"></a>*@
                                            <a href="/Default/Iletisim/" class="btn button-style1">İLETİŞİM➔</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="slider-bg-2">
                            <div class="slider-info-wrapper">
                                <div class="slider-info">
                                    <div class="d-grid slide-two-col">
                                        <div class="slide-left-text">
                                            <h3>SABAH 07.00 - AKŞAM 19.00 SİZLERLE! </h3>
                                            @*<h3><span>İLETİŞİM➔</span></h3>
                                                <p>
                                                    İLETİŞİM➔
                                                </p>*@
                                            @*<a href="about.html" class="btn button-style">Get Started</a>*@
                                            <h3>&nbsp;</h3>
                                            <a href="/Default/Iletisim/" class="btn button-style1">İLETİŞİM➔</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="slider-bg-3">
                            <div class="slider-info-wrapper">
                                <div class="slider-info">
                                    <div class="d-grid slide-two-col">
                                        <div class="slide-left-text">
                                            <h3>YÜZDE YÜZZ MÜŞTERİ MEMNUNİYETİ</h3>
                                            @*<h3><span>starting from $ 750</span></h3>*@
                                            <p>
                                                &nbsp;
                                            </p>
                                            @*<a href="about.html" class="btn button-style">Get Started</a>*@
                                            <a href="/Default/Iletisim/" class="btn button-style1">İLETİŞİM➔</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="arrows">
                        <label for="slides_1"></label>
                        <label for="slides_2"></label>
                        <label for="slides_3"></label>
                    </div>
                    <div class="navigation">
                        <div>
                            <label for="slides_1"></label>
                            <label for="slides_2"></label>
                            <label for="slides_3"></label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /main-slider -->
        </div>
    </section>
    <!-- covers4 block -->
    <section class="w3l-feature-8">
        <div class="features-main">
            <div class="wrapper">
                <div class="features">
                    <div class="feature-1">
                        <div class="feature-body">
                            <div class="feature-images">
                                <span class="fa fa-rebel"></span>
                            </div>
                            <div class="feature-info">
                                <a href="#property">
                                    <h3 class="feature-titel">Misyonumuz</h3>
                                </a>
                                <p class="feature-text">
                                    En iyi olmaktan anladığımız; müşteriler, ortaklar ve çalışanların memnuniyetini sağlamış, onlar tarafından tercih edilen, çevresine duyarlı,saygılı ve referans olarak gösterilen bir şirket olmaktır.

                                </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="feature-2">
                        <div class="feature-body">
                            <div class="feature-images">
                                <span class="fa fa-line-chart"></span>
                            </div>
                            <div class="feature-info">
                                <a href="#property">
                                    <h3 class="feature-titel">Vizyonumuz</h3>
                                    <p class="feature-text">
                                        Köken Kum Nakliyat olarak biz bu farklılaşmayı çalışanlarımıza, ortaklarımıza, müşterilerimize, mal ve hizmet sağlayıcılarımıza, çevreye, topluma
                                        verdiğimiz sözler ve de bunları gerçekleştirme biçimimizi tanımladığımız temel değerlerimiz ile sağlıyoruz.
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="feature-3">
                        <div class="feature-body">
                            <div class="feature-images">
                                <span class="fa fa-rocket"></span>
                            </div>
                            <div class="feature-info">
                                <a href="#property">
                                    <h3 class="feature-titel">Memnuniyet</h3>
                                    <p class="feature-text">
                                        40 YILI AŞKIN TECRÜBE;
                                        1980 yılından itibaren müşterilerimiz ile oldukça seviyeli ve saygılı bir şekilde 40 yılı devirmiş bulunmaktayız.
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- grids block 4 -->
    <section class="w3l-grids-4">
        <div id="grids4-block">
            <div class="wrapper">
                <h3 class="heading-title">Hizmetlerimiz</h3>
                <div class="owl-carousel owl-theme">
                    @foreach (var x in Model)
                    {
                        <div class="item">
                            <div class="grids4-info">
                                <a href="#properties-single"><img src=@x.Gorsel alt="" /></a>
                                <div class="info-bg">
                                    <h5><a href="#properties-single">@x.Baslık</a></h5>
                                    <span class="price">Fiyat: @x.Fıyat</span>
                                    <p> @x.Acıklama</p>

                                    @*<ul>
                                            <li><span class="fa fa-share-square-o"></span> Fiyat: @x.Fıyat</li>
                                        </ul>*@
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- grids block 4 -->
    <!-- js -->
    <script src="~/starter/assets/js/jquery-3.3.1.min.js"></script> <!-- jquery latest version 3.4.1 -->
    <script src="~/starter/assets/js/owl.carousel.js"></script> <!-- owl carousel -->

    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 0,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false,
                        margin: 20
                    },
                    1000: {
                        items: 3,
                        nav: true,
                        loop: true,
                        margin: 20
                    }
                }
            })
        })</script>
    <!-- grid -->
    <section class="w3l-grids-9">
        <div class="grid-top-9">
            <div class="wrapper">
                @*<div class="d-grid grid-col-3 grid-element-9 margin-top">
                        <div class="left-grid-ele-9 grid-bg3">
                            <div class="sub-wid-grid-9">
                                <h4 class="text-grid-9"><a href="#properties-single">London</a></h4>
                                <p class="sub-para">Perfect City!</p>
                                <span>15 properties</span>
                            </div>
                        </div>
                        <div class="left-grid-ele-9 grid-bg4">
                            <div class="sub-wid-grid-9">
                                <h4 class="text-grid-9"><a href="#properties-single">Japan</a></h4>
                                <p class="sub-para">Best Place to live</p>
                                <span>28 properties</span>
                            </div>
                        </div>
                        <div class="left-grid-ele-9 grid-bg4">
                            <div class="sub-wid-grid-9">
                                <h4 class="text-grid-9"><a href="#properties-single">France</a></h4>
                                <p class="sub-para">Best Place to live</p>
                                <span>12 properties</span>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </section>
    <!-- //grid -->

    
    <!-- Products4 block -->
    </div>
    <section class="w3l-companies-hny-6">
    </section>




    <!-- subscribe -->
    <section class="w3l-subscribe-1">
        <div class="wrapper">
            <h4>
                Özel fırsatlar için iletişimde kalın
            </h4>
            <h3 class="heading-title">Güncel Fiyatları Kaçırmayın</h3>
            <div class="form">

            </div>
        </div>
    </section>
    <!-- //subscribe -->
    <!-- footer-29 block -->
    <section class="w3l-footer-29-main">
        <div class="footer-29">
            <div class="wrapper">
                <div class="d-grid grid-col-4 footer-top-29">
                    <div class="footer-list-29 footer-1">
                        <h6 class="footer-title-29">İletişim Bilgileri</h6>
                        <ul>
                            <li><p><span class="fa fa-map-marker"></span> İmrendi Mahallesi KahramanKazan/Ankara</p></li>
                            <li><a href="tel:+(90)537 278 31 50"><span class="fa fa-phone"></span> +(90)537 278 31 50</a></li>
                            <li><a href="mailto:ahmet.koken45@gmail.com"> <span class="fa fa-envelope-open-o"> </span>ahmet.koken45@gmail.com</a> <span>E-Posta</span> </li>
                        </ul>
                        <div class="main-social-footer-29">
                            <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                            <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                            <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>


                        </div>
                    </div>
                    <div class="footer-list-29 footer-2">
                        <ul>
                        </ul>
                    </div>
                    <div class="footer-list-29 footer-3">
                        <div class="properties">
                            <h6 class="footer-title-29">Ürünlerimiz</h6>
                            <a href="/Default/Iletisim/"><img src="~/starter/assets/images/03 kum.jpg" class="img-responsive" alt="" /><p>Fiyat İçin İletişime Geçiniz<span>0X3 KUM</span></p></a>
                            <a href="/Default/Iletisim/"><img src="~/starter/assets/images/ss.jpg" class="img-responsive" alt="" /><p>Fiyat İçin İletişime Geçiniz<span>MİL KUM</span></p></a>
                            <a href="/Default/Iletisim/"><img src="~/starter/assets/images/2121.jpg" class="img-responsive" alt="" /><p>Fiyat İçin İletişime Geçiniz<span>BYPASS</span></p></a>
                        </div>
                    </div>
                    <div class="footer-list-29 footer-4">
                        <ul>
                            <h6 class="footer-title-29">Hızlı Linkler</h6>
                            <li><a href="/Default/Hakkımızda/">Şirket Hakkında</a></li>
                            <li><a href="/Default/Hakkımızda/">Öne Çıkan Özellikleri</a></li>
                            <li><a href="/Default/Hakkımızda/"> Çalışanlar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-grid grid-col-2 bottom-copies">
                    <p class="copy-footer-29">© 2022 KÖKEN KUM. Bütün Haklarınız Saklıdır.</p>
                    <ul class="list-btm-29">
                        @*<li><a href="#link">Gizlilik Politikası</li>
                        <li><a href="#link">Kullanım Şartları</a></li>*@

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- //footer-29 block -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }</script>
    <!-- /move top -->
</body>
</html>
